body {
  font-size: 14px;
  font-family: "PT Sans Narrow", Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
}

/* Оформление главной страницы*/
html,
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 56px;
  background: #c1cdd5;
}

.main-navigation,
.navigation  {
  float: left;
  width: 780px;

    /* Только для оформления сетки */
  min-height: 70px;
}

.main-navigation li,
.navigation li {
  display: inline-block;
  vertical-align: top;
}

.user-block {
  float: right;
  width: 140px;

    /* Только для оформления сетки */
  min-height: 70px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  /* Только для оформления сетки */
  min-height: 175px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.main-footer,
.footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #c1cdd5;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;

  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;

  /* Только для оформления сетки */
  min-height: 90px;
}

/* Оформление страницы barbershop-item*/

.main-header img {
  width: 140px;
  float:left;
  margin-right: 20px;
  background: #c1cdd5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation {
   width: 620px;
}

h1 {
  font-size: 30px;
  margin-bottom: 25px;
  background: #c1cdd5;
  line-height: 32px;
}

h2 {
  font-size: 24px;
}

.breadcrumbs  {
  margin-bottom: 55px;
  background: #c1cdd5;

  /* Только для оформления сетки */
  min-height: 16px;
}

.breadcrumbs li {
  display: inline-block;
}

.item-gallery {
  float:left;
  width: 460px;
  background: #c1cdd5;
  padding: 0px;

  /* Только для оформления сетки */
  min-height: 670px;
}

.item-information {
  float:right;
  width: 400px;
  background: #c1cdd5;

  /* Только для оформления сетки */
  min-height: 670px;
}

.gallery-main {
  margin-bottom: 10px;
}

.gallery-other {
  font-size: 0px;
}

.gallery-image {
    width: 140px;
    margin-right: 20px;
    margin-bottom: 0px;
}

.gallery-image:last-child {
    margin-right: 0px;
}

/*.item-availability {
  width: 180px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: 24px;
  min-height: 16px;
  background: #e9d3c0;
}*/


.footer {
  margin-top: 50px;
}

/* Оформление страницы barbershop-shop*/

.catalog-filter {
  float: left;
  width: 220px;
  margin-right: 20px;
  background: #c1cdd5;

  /* Только для оформления сетки */
  min-height: 594px;
}

.catalog  {
  float:right;
  width: 700px;
  background: #c1cdd5;
  font-size: 0px;

  /* Только для оформления сетки */
  min-height: 684px;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #94b4cb;
  font-size: 14px;

  /* Только для оформления сетки */
  min-height: 287px;
}

.catalog-item:nth-child(3n) {
   margin-right: 0px;
 }

.paginator {
  background: #94b4cb;
  margin-top: 25px;
  margin-bottom: 0px;
    /* Только для оформления сетки */
  min-height: 45px;
  font-size: 14px;
}


